
params {
    // new params
    base_dir            = "/data_5t/lilin/products/ukb_tools/GATK4_Base_Quality_Score_Recalibrator/ukb_gatk4_base_quality_score_recalibrator_testdata"
    cram                 = "${params.base_dir}/test_bqsr.cram"
    fasta               = "${params.base_dir}/Homo_sapiens_assembly38.fasta"
    fasta_fai           = "${params.base_dir}/Homo_sapiens_assembly38.fasta.fai"
    fasta_dict          = "${params.base_dir}/Homo_sapiens_assembly38.dict"
    bed_file            = "${params.base_dir}/S07604624_Padded_Agilent_SureSelectXT_allexons_V6_UTR.bed"
    known_vcf           = "${params.base_dir}/dbsnp_146.hg38.vcf.gz"
    known_vcf_tbi       = "${params.base_dir}/dbsnp_146.hg38.vcf.gz.tbi"
    known_indels        = "${params.base_dir}/Homo_sapiens_assembly38.known_indels.vcf.gz"
    known_indels_tbi    = "${params.base_dir}/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"
    standard_indels     = "${params.base_dir}/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    standard_indels_tbi = "${params.base_dir}/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"

    prefix   = "base_quality_score_recalibrator"
    outdir   = "results"
    tracedir = "${params.outdir}/pipeline_info"
}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }

    singularity {
        singularity.autoMounts = true
        singularity.enabled    = true
        charliecloud.enabled   = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
    }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}
